body {
  margin: 0;
  padding: 0;
}
.wrapper {
  background: #7f00ff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  background-color: #fff;
  padding: 15px;
  border-radius: 3px;
  text-transform: uppercase;
}
